<div class="info-container">
    <div>
        <h1>Jelenlegi mobilcsomag neve</h1>
        <div class="info-container">
            <h4>Jelenlegi egyenleg</h4>
            <h4>6000 Ft</h4>
        </div>
        <div class="info-container">
            <h4>Lebeszélt percek</h4>
            <app-round-progress-indicator progressColor="blue"></app-round-progress-indicator>
        </div>
        <div class="info-container">
            <h4>Elküldött SMS-ek</h4>
            <app-round-progress-indicator progressColor="orange"></app-round-progress-indicator>
        </div>
        <div class="info-container">
            <h4>Elhasznált mobilinternet</h4>
            <app-round-progress-indicator progressColor="green"></app-round-progress-indicator>
        </div>
        <br><br>
        <p class="underline-on-hover">Csomag kezelése</p>
    </div>
</div>