.form-box{
    margin: 0 auto;
    width: 50%;
}

input{
    width: 100%;
    margin-bottom: 5%;
}

#profile-image-container{
  margin-top: 2%;
  width: 20%;
  background-color: red;
  margin: 0 auto;
  margin-bottom: 5%;
}

.inline-inputs{
    display: flex;
    align-items: flex-start;
    align-content: space-between;
}

.inline-inputs > div > button{
    margin-right: 2%;
}


.inline-inputs > div{
    width: 100%;
}

.inline-inputs > div:first-child{
    margin-right: 2%;
}


.ng-submitted  input.ng-invalid {
    border: solid 2px red;
 }

 .field-message{
    color: red;
 }

@media screen and (max-width: 960px) {
    .inline-inputs{
        display: block;
    }

    .inline-inputs > div > button{
        margin-bottom: 20px;
    }

    .form-box{
        margin: 0 auto;
        width: 70%;
    }
}

@media screen and (min-width: 2700px) {
    .form-box{
        margin: 0 auto;
        width: 30%;
    }
}