.package-card {
    width: 400px;
    margin: 20px;
  }
  
.packages-container{    
    margin: 0 auto;
    width: 50%;
}

mat-card-content{
    height: 200px;
}

.selected{
    border: 3px solid #0b5ed7;
}

.unselected{
    border: none;
}