<br>
<div class="packages-container" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" >
    <h1>Saját csomagok</h1>
    
    <div #packagesExist class="package-list-container" fxFlex fxLayout fxLayoutAlign="start" fxLayoutGap="10px" *ngIf="userPackages.length > 0">
        <div class="package-card" *ngFor="let package of userPackages" >
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>{{package.name}}</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <h3>
                        {{package.description}}
                    </h3>

                </mat-card-content>
                <mat-card-actions>
                    <div fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="30px">
                        <h2>
                            {{package.price}} HUF/hó.
                        </h2>
                        <button mat-button>Csomag beállítása</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <h2 *ngIf="userPackages.length <= 0">Nincsenek csomagjaid!</h2>
</div>