.form-box{
    margin: 0 auto;
    width: 35%;
}

input{
    width: 100%;
    margin-bottom: 5%;
}


.ng-submitted input.ng-invalid {
    border: solid 2px red;
 }

 .field-message{
    color: red;
 }

@media screen and (max-width: 960px) {
    .form-box{
        margin: 0 auto;
        width: 70%;
    }
}

@media screen and (min-width: 2700px) {
    .form-box{
        margin: 0 auto;
        width: 30%;
    }
}