<br>
<div class="form-box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="emailInput">Email cím</label>
          <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" formControlName = "email">
          <p class='field-message' *ngIf="showRequiredError('email') && submitted">
            Ez a mező kötelező!
          </p>
          <p class='field-message' *ngIf="showEmailFormatError() && submitted">
            Nem megfelelő email formátum!
          </p>
        </div>
        <div class="form-group">
          <label for="passwordInput">Jelszó</label>
          <input type="password" class="form-control" id="passwordInput" formControlName = "password">
          <p class='field-message' *ngIf="showRequiredError('password') && submitted">
            Ez a mező kötelező!
          </p>
        </div>
        
        <button type="submit" mat-flat-button color="primary">Bejelentkezés</button>
      </form>
      <br>
      <a [routerLink] ="'/register'">Nincs fiókod? Regisztrálj itt!</a>
</div>