<br>
<div class="form-box">
  <form [formGroup]="registerForm" (change)="registerForm.updateValueAndValidity()" (ngSubmit)="onSubmit()">
    <div class="form-group ">

      <div class="inline-inputs">
        <div>
          <label for="firstNameInput">Keresztnév</label><br>
          <input type="text" class="form-control" id="firstNameInput" aria-describedby="firstNameHelp"
            formControlName="firstName" required>
            <p class='field-message' *ngIf="showRequiredError('firstName') && submitted">
              Ez a mező kötelező!
            </p>
        </div>
        <div>
          <label for="lastNameInput">Családnév</label><br>
          <input type="text" class="form-control" id="lastNameInput" aria-describedby="lastNameHelp"
            formControlName="lastName" required>
            <p class='field-message' *ngIf="showRequiredError('lastName') && submitted">
              Ez a mező kötelező!
            </p>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="emailInput">Email cím</label>
      <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
        formControlName="email" [email]="true" required>
      <p class='field-message' *ngIf="showRequiredError('email') && submitted">
        Ez a mező kötelező!
      </p>
      <p class='field-message' *ngIf="showEmailFormatError() && submitted">
        Nem megfelelő email formátum!
      </p>
    </div>
    <div class="form-group">
      <label for="phoneInput">Telefonszám</label>
      <input type="tel" class="form-control" id="phoneInput"
        aria-describedby="phoneHelp" formControlName="phoneNumber" required>
        <p class='field-message' *ngIf="showRequiredError('phoneNumber') && submitted">
          Ez a mező kötelező!
        </p>
        <p class='field-message' *ngIf="showPhoneFormatError() && submitted">
          A telefonszámot a követekező formátumban kell megadni: +36-##-###-####
        </p>
    </div>
    <div class="form-group">
      <label for="passwordInput">Jelszó</label>
      <input type="password" class="form-control" id="passwordInput" formControlName="password" required>
      <p class='field-message' *ngIf="showRequiredError('password') && submitted">
        Ez a mező kötelező!
      </p>
      <p class='field-message' *ngIf="showPasswordsDontMatchError() && submitted">
        A megadott jelszavak nem egyeznek meg!
      </p>
      <p class='field-message' *ngIf="showPasswordShortError('password') && submitted">
        A jelszó legalább 6 karakter hosszú kell legyen!
      </p>
    </div>
    <div class="form-group">
      <label for="passwordCheckInput">Jelszó újból</label>
      <input type="password" class="form-control" id="passwordCheckInput" formControlName="passwordAgain" required>

      <p class='field-message' *ngIf="showRequiredError('passwordAgain') && submitted">
        Ez a mező kötelező!
      </p>
      <p class='field-message' *ngIf="showPasswordsDontMatchError() && submitted">
        A megadott jelszavak nem egyeznek meg!
      </p>
      <p class='field-message' *ngIf="showPasswordShortError('passwordAgain') && submitted">
        A jelszó legalább 6 karakter hosszú kell legyen!
      </p>
    </div>

    <button type="submit" mat-flat-button color="primary">Regisztráció</button>
  </form>
  <br>
  <a [routerLink]="'/login'">Van már fiókod? Jelenetkezz be itt!</a>
</div>