.form-box{
    margin: 0 auto;
    width: 35%;
}

mat-form-field{
    width: 100%;
    margin-bottom: 5%;
}

.inline-inputs{
    display: flex;
    align-items: center;
    align-content: space-evenly;
}

.inline-inputs > div{
    width: 100%;
}

.inline-inputs > div:first-child{
    margin-right: 2%;
}

.ng-submitted input.ng-invalid {
    border: solid 2px red;
 }

 .field-message{
    color: red;
 }

@media screen and (max-width: 1250px) {
    .inline-inputs{
        display: block;
    }

    .inline-inputs > div > button{
        margin-bottom: 20px;
    }

    .form-box{
        margin: 0 auto;
        width: 70%;
    }
}

@media screen and (min-width: 2700px) {
    .form-box{
        margin: 0 auto;
        width: 30%;
    }
}