<br>
<div class="form-box">
  <form [formGroup]="registerForm" (change)="registerForm.updateValueAndValidity()" (ngSubmit)="onSubmit()">
    <div class="form-group ">

      <div class="inline-inputs">
        <div>
          <mat-form-field>
            <mat-label for="firstNameInput">Keresztnév</mat-label>
            <input matInput type="text" class="form-control" id="firstNameInput" aria-describedby="firstNameHelp"
              formControlName="firstName" required>
            @if(showRequiredError('firstName') && registerForm.get('firstName')!.invalid) {
            <mat-error>
              Ez a mező kötelező!
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label for="lastNameInput">Családnév</mat-label>
            <input matInput type="text" class="form-control" id="lastNameInput" aria-describedby="lastNameHelp"
              formControlName="lastName" required>
            @if(showRequiredError('lastName') && registerForm.get('lastName')!.invalid) {
            <mat-error>
              Ez a mező kötelező!
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label for="emailInput">Email cím</mat-label>
        <input matInput type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
          formControlName="email" [email]="true" required>
        @if(showRequiredError('email') && registerForm.get('email')!.invalid) {
        <mat-error>
          Ez a mező kötelező!
        </mat-error>
        }
        @if(showEmailFormatError() && registerForm.get('email')!.invalid) {
        <mat-error>
          Nem megfelelő email formátum!
        </mat-error>
        }

      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="phoneInput">Telefonszám</mat-label>
        <input matInput type="tel" class="form-control" id="phoneInput" aria-describedby="phoneHelp"
          formControlName="phoneNumber" required>
        @if(showRequiredError('phoneNumber') && registerForm.get('phoneNumber')!.invalid) {
        <mat-error>
          Ez a mező kötelező!
        </mat-error>
        }
        @if(showPhoneFormatError() && registerForm.get('phoneNumber')!.invalid) {
        <mat-error>
          A telefonszámot a követekező formátumban kell megadni: +36-##-###-####
        </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="passwordInput">Jelszó</mat-label>
        <input matInput type="password" class="form-control" id="passwordInput" formControlName="password" required>
        @if(showRequiredError('password') && registerForm.get('password')!.invalid) {
        <mat-error>
          Ez a mező kötelező!
        </mat-error>
        }
        @if(showPasswordsDontMatchError() && registerForm.get('password')!.invalid) {
        <mat-error>
          A megadott jelszavak nem egyeznek meg!

        </mat-error>
        }
        @if(showPasswordShortError('password') && registerForm.get('password')!.invalid) {
        <mat-error>
          A jelszó legalább 6 karakter hosszú kell legyen!

        </mat-error>
        }

      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-label for="passwordCheckInput">Jelszó újból</mat-label>
        <input matInput type="password" class="form-control" id="passwordCheckInput" formControlName="passwordAgain"
          required>

        @if(showRequiredError('passwordAgain') && registerForm.get('passwordAgain')!.invalid) {
        <mat-error>
          Ez a mező kötelező!
        </mat-error>
        }
        @if(showPasswordsDontMatchError() && registerForm.get('passwordAgain')!.invalid) {
        <mat-error>
          A megadott jelszavak nem egyeznek meg!

        </mat-error>
        }
        @if(showPasswordShortError('passwordAgain') && registerForm.get('passwordAgain')!.invalid) {
        <mat-error>
          A jelszó legalább 6 karakter hosszú kell legyen!

        </mat-error>
        }
      </mat-form-field>
    </div>

    <button type="submit" mat-flat-button color="primary">Regisztráció</button>
  </form>
  <br>
  <a [routerLink]="'/login'">Van már fiókod? Jelenetkezz be itt!</a>
</div>