.form-box{
    margin: 0 auto;
    width: 35%;
}

input{
    width: 100%;
    margin-bottom: 5%;
}

.inline-inputs{
    display: flex;
    align-items: center;
    align-content: space-evenly;
}

.inline-inputs > div{
    width: 100%;
}

.inline-inputs > div:first-child{
    margin-right: 2%;
}